:root {
	--bg-color: #ffffff;
	--bg-secondary-color: #f1f3f5;
	--grid-maxWidth: 140rem;
	--grid-gutter: 2rem;
	--font-color: #212529;
	--color-primary: #e8590c;
	--color-error: #e03131;
	--color-success: #3b5bdb;
	--color-darkGrey: #141619;
	--font-family-sans: "Saira", sans-serif;
	--font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
	--font-size: 2rem;
}

.bg-secondary {
	background-color: var(--bg-secondary-color);
}

.dark-mode {
	--bg-color: #141619;
	--bg-secondary-color: #141619;
	--font-color: #f1f3f5;
	--color-grey: #ced4da;
	--color-darkGrey: #ced4da;
}

h1 {
	font-size: 5.2rem;
	line-height: 1.25;
	font-stretch: 104%;
	font-weight: 440;
	letter-spacing: -0.04em;
}

h2 {
	font-weight: 400;
	font-size: 4rem;
	line-height: 1.25;
	font-stretch: 92%;
}

h3 {
	font-weight: 480;
	font-size: 3.2rem;
	line-height: 1.25;
	font-stretch: 108%;
}

h4 {
	font-weight: 450;
	font-size: 2.8rem;
	margin: 0;
	line-height: 1.25;
	font-stretch: semi-expanded;
}

center {
	text-align: center;
}

header {
	position: fixed;
	top: 0;
}

footer {
	position: fixed;
	bottom: 0.25cm;
	left:0.25cm;
}

article {
	position: relative;
}

/* nav {
	position: fixed;
	top: 0;
} */

aside {
	position: absolute;
	bottom: 0;
}

article {
	break-after: page;
}

.intro {
	height: 40vh;
	background-image: url(https://cdn.theatlantic.com/thumbor/Pftzz4C3UNk_jwWF5U_RBCfXYaY=/1500x1002/media/img/photo/2023/10/photos-destruction-gaza-1/a03_1740591009/original.jpg) ;
	background-size: cover;
}

.is-align-end {
	align-self: end;
}

@media screen and (max-width: 599px) {
	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 3.2rem;
	}

	h3 {
		font-size: 2.4rem;
	}
	.is-full-screen {
		min-height: auto;
	}
}

@page {
	size: letter;
	margin: 0.125in;
}

@media print {

	nav {
		display: none;
	}

	h1 {
		font-size: 8.6rem;
	}

	h2 {
		font-size: 4.4rem;
	}

	h3 {
		font-size: 2.8rem;
	}

	article {
		height: 100vh;
	}

}