:root {
	--font-sans-serif: 'Saira', serif;
	--headings-font-family: var(--font-sans-serif);
  --headings-line-height: 1.25;
  --body-line-height: 1.5;
  --body-bg-color: var(--gray-1);
	--content-width: 92rem;
  --content-margin: var(--space-5);
  --h1: 3.5rem;
  --h2: 2.25rem;
  --h3: var(--fonts-7);
  --h4: var(--fonts-5);
  --h5: var(--fonts-3);
  --h6: var(--fonts-2);
  --body-font-size: var(--fonts-5);
  --p-margin-bottom: var(--space-8);
  --headings-margin-bottom: var(--space-4);
}

.bg-secondary {
	background-color: var(--bg-secondary-color);
}

.dark-mode {
	--bg-color: #141619;
	--bg-secondary-color: #141619;
	--font-color: #f1f3f5;
	--color-grey: #ced4da;
	--color-darkGrey: #ced4da;
}

h1 {
	font-stretch: 105%;
	font-weight: 440;
	letter-spacing: -0.05em;
}

h2 {
	font-weight: 420;
	font-stretch: 104%;
}

h3 {
	font-weight: 480;
	font-stretch: 108%;
}

h4 {
	font-weight: 500;
	margin: 0;
	font-stretch: semi-expanded;
}

h5 {
	font-weight: 500;
	margin: 0;
	font-stretch: semi-condensed;
  color: var(--gray-6);
  text-decoration: overline;
  text-decoration-color: var(--gray-4);
  text-decoration-style: wavy;
  text-transform: uppercase;
}

@media screen and (max-width: 48rem) {
	h1 {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.5rem;
	}

  [data-section] {
    margin-left: var(--space-4);
    margin-right: var(--space-4);
  }

  .case-order-2 {
    order: 2;
  }

  .case-order-3 {
    order: 3;
  }

}

@page {
	size: 5.5in 8.5in;
	margin: 0.25in;
}

@media print {
  :root {
    --headings-margin-bottom: var(--space-3);
    --body-font-size: var(--fonts-4);
  }

	h1 {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.75rem;
	}

  [data-grid] { --columns: repeat(1, 1fr) !important; --flow: row !important; }
  [data-cell] {--span: 1 !important; }

  [data-hideprint] { display: none !important; }

  .case-order-2 {
    order: 2;
  }

  .case-order-3 {
    order: 3;
  }

}