---
layout: layouts/home.njk
cover: /cases.jpg
caption: A child looks over the wreckage. Mohammed Abed/AFP/Getty Images
numberOfLatestPostsToShow: 100
eleventyNavigation:
  key: Cases
  order: 1
---
{% set postsCount = collections.cases | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1 data-mt="7">Case{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.cases | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "caseslist.njk" %}