<ol reversed data-grid data-columns="1">
{% for post in postslist | reverse %}
	<li data-p="6" data-bg="gray2" data-mb="7">
    <div data-grid data-gap="6" data-columns="3">
      <div>
        <h5>Incident</h5>
        <time datetime="{{ post.data.incident | htmlDateString }}">{{ post.data.incident | readableDate }}</time><br /><span data-chip>{{ status }}</span>
      </div>
      <div>
        <h5>Location</h5>
        {{ post.data.location }}
      </div>
    </div>
		<h2 data-mb="0"><a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a></h2>
	</li>
{% endfor %}
</ol>
