<h6 data-section>Hyperwars combines speculative assessments alongside journalistic sources but will not be liable for any false, inaccurate, inappropriate or incomplete information on its websites. Read our <a href="/disclaimer">disclaimer of liabilty</a>.</h6>