<nav class="nav">
    <div class="container">
        <div class="nav-left">
            <a href="/"><h3 class="is-marginless">Hyperwars</h1></a>
            <a href="javascript:document.body.classList.toggle('dark-mode')">🌚</a>

        </div>
        <div class="nav-right">
            <div class="tabs">
                {# <a href="javascript:if(window.print)window.print()">🖨</a> #}

                {%- for entry in collections.all | eleventyNavigation %}
                    <a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
                {%- endfor %}
            </div>
        </div>
    </div>
</nav>
