---
layout: layouts/base.njk
---
<div data-section>

<div data-grid data-columns="3" data-gap="7" data-my="6">
  <h1 data-span="2" data-cell data-self="center">{{ title }}</h1>
  <img src="{{cover}}" data-height="3" data-fit="cover">
</div>

<div data-grid data-columns="6" data-gap="7" data-my="6">
  <div>
    <h5 >Incident</h5>
    <time datetime="{{ incident | htmlDateString }}">{{ incident | readableDate }}</time><br /><span data-chip>{{ status }}</span>
    <h5 data-mt="7">Location</h5>
    {{ location }}
    <div data-hideprint data-mt="7"><a href="https://github.com/namahaz/hyperwars-org/issues" taget="_blank">Contribute on GitHub</a></div>
  </div>
  <div data-cell data-span='3' class="case-order-3">
    <h5>Assessment</h5>
    {{ content | safe }}
  </div>
	<div data-cell data-span='2' class="case-order-2">
		<h5>Suspected Involvement</h3>
		{% for org in orgs %}
		{%- set tagUrl %}/tags/{{ org | slugify }}/{% endset %}
		<span>{{ org }}{%- if not loop.last %}, {% endif %}</span>
		{%- endfor %}
		<h5 data-mt="7">Hyperwar</h3>
		{% for warfare in warfares %}
		{%- set tagUrl %}/tags/{{ warfare | slugify }}/{% endset %}
		<span>{{ warfare }}{%- if not loop.last %}, {% endif %}</span>
		{%- endfor %}
		<h5 data-mt="7" data-hideprint>Sources</h3>
		{% for source in sources %}
		{%- set tagUrl %}/tags/{{ source | slugify }}/{% endset %}
		<span><a href="{{ source }}" target="_blank">Link</a>{%- if not loop.last %}, {% endif %}</span>
		{%- endfor %}
	</div>
</div>

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}



</div>