---
layout: layouts/base.njk
---

<div data-grid data-columns="2" data-gap="7" data-my="6">
  <div>
    <img src="{{ cover }}" data-height="4" data-width="100" data-fit="cover">
  </div>
  <div data-self="end">
    <h2>{{ metadata.description }}</h2>
    <h6>Left: {{ caption }}</h6>
  </div>
</div>

<div data-grid data-columns='1' data-rowGap='3' data-section>
  {{ content | safe }}
</div>