---
layout: layouts/base.njk
---

<div data-section data-grid data-columns="2" data-gap="7" data-my="6">
  <div>
    <img src="nakba.jpg">
  </div>
  <div data-self="end">
    <h2>{{ metadata.description }}</h2>
  </div>
</div>

<div data-grid data-columns='1' data-rowGap='3' data-section>
  {{ content | safe }}
</div>